.grid1 {
    height: 30vh;
    width: 100vw;
    background-color: cornflowerblue;
    grid-area: b1;

}
.grid2 {
    position: relative;
    height: 150vh;
    width: 100vw;
    background-color: greenyellow;
    grid-area: b2;
}   



.grid3 {
    height: 50vh;
    width: 100vw;
    background-color: limegreen;
    grid-area: b3;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "b1 b1 b1 b1" 
      "b2 b2 b2 b2"
      "b2 b2 b2 b2"
      "b2 b2 b2 b2"
      "b2 b2 b2 b2"
      "b2 b2 b2 b2"
      "b3 b3 b3 b3"
      "b3 b3 b3 b3"
      "b3 b3 b3 b3";

      
}

h1 {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium';
    font-weight: bolder;
    color: maroon;
    float: left;
    margin-bottom: 0;

   
    
  
}
h2 {
    font-size: small;
    font-weight: bold;
    font-family: cursive;
    color: black;
    padding-top: 50px;
    padding-right: 1000px;
    padding-left: 150px;
    margin-top: 0;
}

    
    
    





.hen1 {
    padding-left: 80px;
    padding-top: 30px;
} 
.hen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    
}   
.hen2 {
    padding-left: 80px; 
    padding-top: 30px;
}
.googlemap {
    padding-left: 80px;
    padding-top: 30px;
}



    

th {
    font-size: larger;
    font-family: Verdana;
    font-weight: 900;
    color: gainsboro;
}
td {
    font-size: medium;
    font-family: Verdana;
    font-weight: 800;
    color: gainsboro;
}
.add {
    padding-left: 200px;
    padding-top: 60px;
}
.add1 {
    padding-left:200px;
    
}
.add2 {
    padding-left: 200px;

}
.hrs {
    padding-top: 60px;
    padding-left: 100px;
}
.hrs1 {
    padding-left: 100px;
}    


.hrs3 {
    padding-left:100px;
}

.breed {
    position: absolute;
    bottom: 0;
    padding: 190px 200px 190px;
    text-align: center;
    color:white;
    
}
.small {
    position: absolute;
    bottom: 0;
    padding-left: 500px;
    padding-bottom: 190px;
    padding-right: 500px;
    color: white;
}
.vythiri {
    position: absolute;
    bottom: 190px;
    padding-top: 950px;
    padding-left: 900px;
    text-align: center;
    color:black;

}
.icon {
    float:left;
}
.blackhen {
    position: absolute;
    top:55px;
    left: 130px;
    float: left;    
}
.italics {
    padding-top: 60px;
    padding-left: 250px;
}
.para {
    padding-left: 250px;
}
.para2 {
    padding-left: 250px;
}
.btn1 {
    float: right;
    position: relative;
    top: -60px;
    left: -50px;
    padding-right: 10px;
    border-radius: 50%;
    background-color: cornflowerblue;
}
/* Darker background on mouse-over */
.btn1:hover {
    background-color:slateblue;
}

.btn2 {
    float: right;
    position: relative;
    top: -60px;
    left: -60px;
    padding-right: 20px;
    border-radius: 50%;
    background-color: cornflowerblue;
}
/* Darker background on mouse-over */
.btn2:hover {
    background-color:slateblue;
}






    
       





    


    





